<nav class="navbar">
  <div class="navbar-brand" style="font-family: consolas;">
    <a class="navbar-item is-size-3 has-text-weight-bold">
      <i>🚫db</i>-
      <span class="has-text-weight-light">example</span>
    </a>
  </div>
</nav>